/* General Card Styling */
.card {
    display: inline-block;
    padding: 5=10px;
    margin: 0px 5px;
    height: 107px;
    width: 73px;
    border: 0.5px solid #999;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Spades */
.ace-spades { background-image: url('../assets/images/cards/ace_of_spades.png'); }
.two-spades { background-image: url('../assets/images/cards/2_of_spades.png'); }
.three-spades { background-image: url('../assets/images/cards/3_of_spades.png'); }
.four-spades { background-image: url('../assets/images/cards/4_of_spades.png'); }
.five-spades { background-image: url('../assets/images/cards/5_of_spades.png'); }
.six-spades { background-image: url('../assets/images/cards/6_of_spades.png'); }
.seven-spades { background-image: url('../assets/images/cards/7_of_spades.png'); }
.eight-spades { background-image: url('../assets/images/cards/8_of_spades.png'); }
.nine-spades { background-image: url('../assets/images/cards/9_of_spades.png'); }
.ten-spades { background-image: url('../assets/images/cards/10_of_spades.png'); }
.jack-spades { background-image: url('../assets/images/cards/jack_of_spades2.png'); }
.queen-spades { background-image: url('../assets/images/cards/queen_of_spades2.png'); }
.king-spades { background-image: url('../assets/images/cards/king_of_spades2.png'); }

/* Hearts */
.ace-hearts { background-image: url('../assets/images/cards/ace_of_hearts.png'); }
.two-hearts { background-image: url('../assets/images/cards/2_of_hearts.png'); }
.three-hearts { background-image: url('../assets/images/cards/3_of_hearts.png'); }
.four-hearts { background-image: url('../assets/images/cards/4_of_hearts.png'); }
.five-hearts { background-image: url('../assets/images/cards/5_of_hearts.png'); }
.six-hearts { background-image: url('../assets/images/cards/6_of_hearts.png'); }
.seven-hearts { background-image: url('../assets/images/cards/7_of_hearts.png'); }
.eight-hearts { background-image: url('../assets/images/cards/8_of_hearts.png'); }
.nine-hearts { background-image: url('../assets/images/cards/9_of_hearts.png'); }
.ten-hearts { background-image: url('../assets/images/cards/10_of_hearts.png'); }
.jack-hearts { background-image: url('../assets/images/cards/jack_of_hearts2.png'); }
.queen-hearts { background-image: url('../assets/images/cards/queen_of_hearts2.png'); }
.king-hearts { background-image: url('../assets/images/cards/king_of_hearts2.png'); }

/* Diamonds */
.ace-diamonds { background-image: url('../assets/images/cards/ace_of_diamonds.png'); }
.two-diamonds { background-image: url('../assets/images/cards/2_of_diamonds.png'); }
.three-diamonds { background-image: url('../assets/images/cards/3_of_diamonds.png'); }
.four-diamonds { background-image: url('../assets/images/cards/4_of_diamonds.png'); }
.five-diamonds { background-image: url('../assets/images/cards/5_of_diamonds.png'); }
.six-diamonds { background-image: url('../assets/images/cards/6_of_diamonds.png'); }
.seven-diamonds { background-image: url('../assets/images/cards/7_of_diamonds.png'); }
.eight-diamonds { background-image: url('../assets/images/cards/8_of_diamonds.png'); }
.nine-diamonds { background-image: url('../assets/images/cards/9_of_diamonds.png'); }
.ten-diamonds { background-image: url('../assets/images/cards/10_of_diamonds.png'); }
.jack-diamonds { background-image: url('../assets/images/cards/jack_of_diamonds2.png'); }
.queen-diamonds { background-image: url('../assets/images/cards/queen_of_diamonds2.png'); }
.king-diamonds { background-image: url('../assets/images/cards/king_of_diamonds2.png'); }

/* Clubs */
.ace-clubs { background-image: url('../assets/images/cards/ace_of_clubs.png'); }
.two-clubs { background-image: url('../assets/images/cards/2_of_clubs.png'); }
.three-clubs { background-image: url('../assets/images/cards/3_of_clubs.png'); }
.four-clubs { background-image: url('../assets/images/cards/4_of_clubs.png'); }
.five-clubs { background-image: url('../assets/images/cards/5_of_clubs.png'); }
.six-clubs { background-image: url('../assets/images/cards/6_of_clubs.png'); }
.seven-clubs { background-image: url('../assets/images/cards/7_of_clubs.png'); }
.eight-clubs { background-image: url('../assets/images/cards/8_of_clubs.png'); }
.nine-clubs { background-image: url('../assets/images/cards/9_of_clubs.png'); }
.ten-clubs { background-image: url('../assets/images/cards/10_of_clubs.png'); }
.jack-clubs { background-image: url('../assets/images/cards/jack_of_clubs2.png'); }
.queen-clubs { background-image: url('../assets/images/cards/queen_of_clubs2.png'); }
.king-clubs { background-image: url('../assets/images/cards/king_of_clubs2.png'); }

/* Hidden Dealer Card */
.hiddenDealerCard {
    background-image: url('../assets/images/cards/0_back.png'); /* Path to card back image */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    margin: 0px 5px;
    display: inline-block;
    height: 108px;
    width: 72px;
    border-radius: 10px;
    border: 1px solid #999;
}
